:root {
  --main-title-color: #ffffff;
  --main-text-color: #757575;
  --main-logo-color: #2196f3;
  --second-logo-color: #000000;
  --main-black-color: #212121;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: #212121;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  font-family: Roboto;
  border-radius: 4px;
  background-color: #f5f4fa;
}

/* логотип */
span {
  color: var(--main-logo-color);
}

header > a {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--second-logo-color);
}
footer > a {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  color: var(--main-title-color);
}

/* навигация шапка */

.nav-link :hover,
.nav-link :focus,
.nav-link :active {
  color: var(--main-logo-color);
}

.nav-link > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--main-black-color);
}

/* контакты */

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}

address {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  color: var(--main-title-color);
}

/* кнопки */

.button-link :active,
.button-link :focus,
.button-link :hover {
  color: var(--main-logo-color);
}

/* герой */
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  background-color: #2f303a;
}

/* Особенности */
section > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.features > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  color: var(--main-black-color);
}
.features > p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
}
/* наша команда */

.command-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
}

.our-command {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.our-command > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.our-command > p {
  color: var(--main-text-color);
}
/* портфолио */

.portfolio > h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-black-color);
}

.portfolio > p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
